nav {
  background-color: $primary_color;

  .navbar_bigsize {
    display: none;

    @media (max-width: 991px) {
      display: none;
    }

    .item_navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 5px;

      .sol {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 90px;

        p {
          margin: 0;
        }

        .svg {
          width: 111px;
          height: 25px;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }

        .navbar_item_next {
          z-index: 100;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 50px;
          color: white;

          .first_item {
            position: relative;

            p {
              cursor: pointer;
              font-family: $font_family_inter;
              font-size: 16px;
              margin: 0;

              .fa-chevron-down {
                transition: 0.3s ease-in-out;
              }
            }

            &:hover {
              .fa-chevron-down {
                rotate: 180deg;
              }

              .next_item1 {
                display: block;
              }
            }

            .next_item1 {
              background-color: white;
              position: absolute;
              left: -50px;
              border-radius: 30px;
              top: 60px;
              padding: 18px;
              width: 740px;
              display: none;

              .sol_next {
                display: flex;
                flex-direction: column;
                gap: 33px;
                align-items: center;

                p {
                  font-size: 16px;
                  font-family: $font_family_inter;
                  color: #abb2d9;
                }

                .sol_next_item {
                  display: flex;
                  align-items: center;
                  gap: 20px;
                  width: 260px;

                  h6 {
                    color: $primary_color;
                  }
                }
              }

              .sag_next {
                display: flex;
                flex-direction: column;
                gap: 33px;
                align-items: center;

                p {
                  font-size: 16px;
                  font-family: $font_family_inter;
                  color: #abb2d9;
                }

                .sag_next_item {
                  display: flex;
                  align-items: center;
                  gap: 20px;
                  width: 260px;

                  h6 {
                    color: $primary_color;
                  }
                }
              }
            }
          }

          .second_item {
            position: relative;

            &:hover {
              .fa-chevron-down {
                rotate: 180deg;
              }

              .next_item2 {
                display: block;
              }
            }

            p {
              cursor: pointer;
              font-family: $font_family_inter;
              font-size: 16px;
              margin: 0;

              .fa-chevron-down {
                transition: 0.3s ease-in-out;
              }
            }

            .next_item2 {
              background-color: white;
              position: absolute;
              border-radius: 30px;

              padding: 29px;
              width: 647px;
              top: 60px;
              left: -40px;
              display: none;

              .data {
                display: flex;
                justify-content: center;

                flex-direction: column;
                gap: 15px;

                p {
                  color: #abb2d9;
                  cursor: pointer;
                  font-family: $font_family_inter;
                  font-size: 18px;
                  margin: 0;
                }

                .data_item {
                  display: flex;
                  align-items: center;
                  gap: 20px;
                  width: 260px;

                  p {
                    font-size: 16px;
                  }

                  h6 {
                    color: $primary_color;
                  }
                }
              }
            }
          }

          .third_item {
            position: relative;

            &:hover {
              .fa-chevron-down {
                rotate: 180deg;
              }

              .next_item3 {
                display: block;
              }
            }

            p {
              cursor: pointer;
              font-family: $font_family_inter;
              font-size: 16px;
              margin: 0;

              .fa-chevron-down {
                transition: 0.3s ease-in-out;
              }
            }

            .next_item3 {
              background-color: white;
              position: absolute;
              border-radius: 30px;

              padding: 35px 30px;
              width: 400px;
              top: 60px;
              left: -40px;

              display: none;

              .nextss {
                display: flex;

                margin: 30px 0;

                gap: 33px;

                p {
                  font-size: 16px;
                  font-family: $font_family_inter;
                  color: #abb2d9;
                }

                h6 {
                  font-size: 19px;
                  color: $primary_color;
                }
              }
            }
          }
        }
      }

      .sag {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        font-size: 16px;
        font-family: $font_family_inter;

        p {
          margin: 0;
          color: white;
        }

        .sign {
          width: 85px;
          transition: 0.2s ease-in-out;

          &:hover {
            background-color: #102171;
          }

          @include btn(
            1px solid transparent,
            7px,
            $second_color,
            white,
            10px 15px
          );
        }

        .book {
          max-width: 145px;
          transition: 0.2s ease-in-out;

          &:hover {
            background-color: #abb2d9;
          }

          @include btn(1px solid #abb2d9, 8px, transparent, white, 13px 18px);
        }
      }
    }
  }

  .navbar_mobile {
    position: relative;

    .items {
      padding: 10px 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .sol {
        width: 111px;
        height: 25px;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      .sag {
        display: flex;
        align-items: center;
        gap: 30px;

        button {
          transition: 0.2s ease-in-out;

          &:hover {
            background-color: #abb2d9;
          }

          @include btn(1px solid #abb2d9, 8px, transparent, white, 13px 18px);
        }

        .icons {
          padding: 8px 16px;
          border-radius: 30px;
          background-color: hsla(0, 0%, 100%, 0.3);

          i {
            color: white;
          }
        }
      }
    }

    .mobile_next {
      display: none;

      position: absolute;

      padding: 20px;
      background-color: white;
      width: 100%;
      z-index: 2;

      .total {
        .main {
          cursor: pointer;
          margin: 10px 0;
          border-bottom: 1px solid #132a97;

          display: flex;
          align-items: center;
          justify-content: space-between;

          p {
            font-size: 18px;
            font-family: $font_family_inter;
            font-weight: 500;
            color: #132a97;
          }

          i {
            color: #132a97;
            font-size: 15px;
          }
        }

        .about {
          display: none;

          .active2 {
            display: block !important;
          }

          .next_item1 {
            background-color: white;

            border-radius: 30px;

            padding: 18px;

            .sol_next {
              display: flex;
              flex-direction: column;

              p {
                font-size: 16px;
                font-family: $font_family_inter;
                color: #abb2d9;
              }

              .sol_next_item {
                display: flex;
                align-items: center;
                gap: 20px;

                h6 {
                  color: #132a97;
                }
              }
            }

            .sag_next {
              display: flex;
              flex-direction: column;

              p {
                font-size: 16px;
                font-family: $font_family_inter;
                color: #abb2d9;
              }

              .sag_next_item {
                display: flex;
                align-items: center;
                gap: 20px;

                h6 {
                  color: #132a97;
                }
              }
            }
          }

          .next_item2 {
            background-color: white;

            border-radius: 30px;

            padding: 29px;

            .data {
              display: flex;
              justify-content: center;

              flex-direction: column;
              gap: 15px;

              p {
                color: #abb2d9;
                cursor: pointer;
                font-family: $font_family_inter;
                font-size: 18px;
                margin: 0;
              }

              .data_item {
                display: flex;
                align-items: center;
                gap: 20px;

                p {
                  font-size: 16px;
                }

                h6 {
                  color: #132a97;
                }
              }
            }
          }

          .next_item3 {
            background-color: white;

            border-radius: 30px;

            padding: 35px 30px;

            .nextss {
              display: flex;

              margin: 30px 0;

              gap: 33px;

              p {
                font-size: 16px;
                font-family: $font_family_inter;
                color: #abb2d9;
              }

              h6 {
                font-size: 19px;
                color: #132a97;
              }
            }
          }
        }
      }

      .main2 {
        cursor: pointer;
        border-bottom: 1px solid #132a97;
        p {
          font-size: 18px;
          font-family: $font_family_inter;
          font-weight: 500;
          color: #132a97;
          margin: 10px 0;
        }
      }

      .final_button {
        margin: 40px 0;
        padding: 0 10px;
        display: flex;

        gap: 40px;
        width: 100%;

        button {
          font-size: 18px;
          width: 450px;
          padding: 15px 20px;
          border-color: rgba(34, 64, 205, 0.2);
          color: #132a97;
          border-radius: 5px;
        }
      }
    }
  }
}
